<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://hangoverthehub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>hangoverthehub.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hangoverthehub</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hangoverthehub</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HoDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:thehubhangover.database.windows.net,1433;Initial Catalog=hangoverthehub_db;User ID=thehubhangover@thehubhangover;Password=sy@870917" Name="Data Source=tcp:thehubhangover.database.windows.net,1433;Initial Catalog=hangoverthehub_db;User Id=thehubhangover@thehubhangover;Password=sy@870917;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HangOver.Models.HoDbContext, HangOver" MigrationConfiguration="HangOver.Migrations.Configuration, HangOver" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HoDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:thehubhangover.database.windows.net,1433;Initial Catalog=hangoverthehub_db;User Id=thehubhangover@thehubhangover;Password=sy@870917;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>